.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header{
    position:fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: #1a1a1a80;
}
.header__menu{
    position: relative;
    z-index: 1;
    width: 34px;
    height: 26px;
}
.header__menu span{
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    background-color: #ffe500;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.header__menu span:nth-child(2){
    width: 66%;
    top: 11px;
}
.header__menu span:nth-child(3){
    width: 33%;
    top: unset;
    bottom: 0;
}
.header__menu:hover{
    opacity: 0.1;
}
.header__menu__content{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
}
.header__menu__content span{
    color: #707070;
    line-height: 15px;
}